{% macro widget(type, name, id, title, description) %}
<div id="{{ id }}">
  <h4>{{ title }}</h4>
  <h5 class="subheader">{{ description }}</h5>
  <dl>
    <dt>Loading</dt>
    <dd>...</dd>
  </dl>
  <hr>
</div>
<script>
{% filter minifyJS %}
  (function($) {
    $(function() {
      $.getJSON("https://api.github.com/{{ type }}/{{ name }}/repos?sort=pushed&callback=?", function(response, status) {
        if (status != 'success' || response.meta.status != 200) {
          $("div#{{ id }}").html("Oh no, I can't fetch the GitHub API!");
          return;
        }
        $("div#{{ id }} dl dt").remove();
        $("div#{{ id }} dl dd").remove();
        $.each(response.data, function(idx, repo) {
          $("div#{{ id }} dl").append(
            $("<dt>").append(
              $("<a>")
              .attr("href", repo["html_url"])
              .attr("class", function(i, val) {
                if(repo.fork) {
                  return "link-fork";
                } else {
                  return "link-github";
                }
              })
              .append(
                $("<span>")
                .html(repo.name)
              )
            )
          ).append(
            $("<dd>").append(
              $("<span>")
              .html(repo.description)
            )
          );
        });
      });
    });
  })(jQuery);
{% endfilter %}
</script>
{% endmacro %}
