{% macro widget(type, name, id, title, description) %}
<div class="panel" id="{{ id }}">
  <div class="panel-heading"><h2>{{ title }}</h2></div>
  <div class="panel-body">
    <p>{{ description }}</p>
    <dl>
      <dt>Loading</dt>
      <dd>...</dd>
    </dl>
  </div>
</div>
<script>
{% filter minifyJS %}
  (function($) {
    $(function() {
      $.getJSON("https://api.github.com/{{ type }}/{{ name }}/repos?visibility=public@type=owner&sort=pushed&callback=?", function(response, status) {
        if (status != 'success' || response.meta.status != 200) {
          console.log(response.data.message);
          $("div#{{ id }} dl dt").html("Oh no, I can't fetch the GitHub API!");
          return;
        }
        $("div#{{ id }} dl dt").remove();
        $("div#{{ id }} dl dd").remove();
        $.each(response.data, function(idx, repo) {
if(!repo.archived) {
          $("div#{{ id }} dl").attr("class", "dl-horizontal").append(
            $("<dt>").append(
              $("<a>")
              .attr("href", repo["html_url"])
              .attr("class", function(i, val) {
                if(repo.fork) {
                  return "link-fork";
                } else {
                  return "link-github";
                }
              })
              .append(
                $("<span>")
                .html(repo.name)
              )
            )
          ).append(
            $("<dd>").append(
              $("<span>")
              .html(repo.description)
            )
          );
}
        });
      });
    });
  })(jQuery);
{% endfilter %}
</script>
{% endmacro %}
