<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="{{ url('images/favicon.ico') }}" type="image/x-icon" />
  <link rel="icon" type="image/png" href="{{ url('images/favicon.png') }}" />
  <link rel="stylesheet" href="{{ url(minify('stylesheets/foundation.min.css')) }}">
  <link rel="stylesheet" href="{{ url(minify('stylesheets/app.css')) }}">
  <script src="{{ url(minify('javascripts/modernizr.foundation.js')) }}"></script>
  <script src="{{ url(minify('javascripts/jquery.js')) }}"></script>
</head>
<body>
  <div class="row">
    <div class="twelve columns">
      <h1>narno.org</h1>
      <p>Hello, I'm <a href="{{ site.author.url }}">{{ site.author.name }}</a> aka <a href="http://narno.com">Narno</a>. {{ site.baseline }}</p>
{% import 'includes/github.html.twig' as github %}
{% for project in site.projects %}
{{ github.widget(project.type, project.name, project.id, project.title, project.description) }}
{% endfor %}
    </div>
  </div>
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright {{ "now"|date('Y') }} <a href="{{ site.author.url }}">{{ site.author.name }}</a></p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><span>Powered by <a href="{{ phpoole.url }}">PHPoole</a></span></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ url(minify('javascripts/foundation.min.js')) }}"></script>
  <script src="{{ url(minify('javascripts/app.js')) }}"></script>
  <script type="text/javascript">
{% filter minifyJS %}
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-387892-18']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
{% endfilter %}
  </script>
</body>
</html>
