<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.baseline }}">
    <meta name="author" content="{{ site.author.name }}">
    <link rel="shortcut icon" href="{{ url('images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ url('images/favicon.png') }}">
    <title>{% if page.name %} {{ page.title }} | {% endif %} {{ site.title }}</title>
    <link href="{{ url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url(minify('css/ie10-viewport-bug-workaround.css')) }}" rel="stylesheet">
    <link href="{{ url(minify('css/narno.css')) }}" rel="stylesheet">
    <script src="{{ url('js/jquery.min.js') }}"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <!-- head -->
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {% for item in site.menus.main|sortByWeight %}
              <li role="presentation"{% if item.name == page.title %} class="active"{% endif %}><a href="{{ url(item.url) }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <h3 class="text-muted">{% if page.name %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</h3>
      </div>
      <!-- content -->
{% block content %}
      <p class="lead">Hello, I'm <a href="{{ site.author.url }}">{{ site.author.name }}</a> aka <a href="http://narno.com">Narno</a>. {{ site.baseline }}</p>
{% import 'includes/github.html.twig' as github %}
{% for project in site.projects %}
{{ github.widget(project.type, project.name, project.id, project.title, project.description) }}
{% endfor %}
{% endblock content %}
      <!-- footer -->
      <footer class="footer">
{% block footer %}
        <p>
          &copy; Copyright {{ "now"|date('Y') }} <a href="{{ site.author.url }}">{{ site.author.name }}</a>, 
          Powered by <a href="{{ phpoole.url }}">PHPoole</a>
          {% if not page.isVirtual %} (<a href="https://github.com/Narno/narno.github.com/tree/source/content">view source</a>){% endif %}
        </p>
{% endblock footer %}
      </footer>
    </div> <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url('js/bootstrap.min.js') }}"></script>
    <script src="{{ url(minify('js/ie10-viewport-bug-workaround.js')) }}"></script>
    <script type="text/javascript">
{% filter minifyJS %}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-387892-18']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
{% endfilter %}
    </script>
  </body>
</html>
