<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.name %} {{ page.title }} | {% endif %} {{ site.title }}</title>
  <link rel="shortcut icon" href="{{ url('images/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" type="image/png" href="{{ url('images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url('css/foundation.min.css') }}">
  <link rel="stylesheet" href="{{ url(minify('css/app.css')) }}">
  <script src="{{ url(minify('js/vendor/jquery.js')) }}"></script>
</head>
<body>
  <div class="row">
    <div class="small-6 large-centered columns">
      <h1>{% if page.name %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</h1>
{% block content %}
      <p>Hello, I'm <a href="{{ site.author.url }}">{{ site.author.name }}</a> aka <a href="http://narno.com">Narno</a>. {{ site.baseline }}</p>
{% import 'includes/github.html.twig' as github %}
{% for project in site.projects %}
{{ github.widget(project.type, project.name, project.id, project.title, project.description) }}
{% endfor %}
{% endblock content %}
    </div>
  </div>
  <div class="row">
    <div class="small-6 large-centered columns">
{% block footer %}
      <ul class="menu simple">
        <li><span>&copy; Copyright {{ "now"|date('Y') }} <a href="{{ site.author.url }}">{{ site.author.name }}</a></span></li>
        <li class="float-right"><span>Powered by <a href="{{ phpoole.url }}">PHPoole</a></span></li>
      </ul>
{% endblock footer %}
    </div>
  </div>
  <script src="{{ url(minify('js/vendor/what-input.js')) }}"></script>
  <script src="{{ url('js/vendor/foundation.min.js') }}"></script>
  <script src="{{ url(minify('js/app.js')) }}"></script>
  <script type="text/javascript">
{% filter minifyJS %}
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-387892-18']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
{% endfilter %}
  </script>
</body>
</html>
