<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <link rel="shortcut icon" href="{{ url('images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ url('images/favicon.png') }}">
    <title>{% if page.name %} {{ page.title }} | {% endif %} {{ site.title }}</title>
    <script src="{{ url('js/jquery-3.2.1.min.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h1 class="text-muted">{{ site.title }}</h1>
        <nav class="nav">
{% for item in site.menus.main|sortByWeight %}
          <a class="nav-link{% if item.name == page.title %} active{% endif %}" href="{{ url(item.url) }}">{{ item.name }}</a>
{% endfor %}
        </nav>
        <hr/>
      </div><!-- header -->

{% block subheader %}
      <p class="lead">
        Hello, I'm Arnaud aka <a href="http://narno.com">Narno</a>. {{ site.description }}
        <a class="btn btn-outline-primary btn-sm btn-block" href="{{ url('projects') }}" role="button">View my projects</a>
      </p>
{% endblock subheader %}
      <!-- content -->
{% block content %}
{% endblock content %}
      <footer>
{% block footer %}
        <p>Powered by <a href="https://getbootstrap.com/">Bootstrap</a> &amp; <a href="{{ url(phpoole.url) }}">PHPoole</a></p>
{% endblock footer %}
      </footer>
    </div><!-- /container -->
    <link href="{{ url('css/bootstrap-4.0.0-beta.3.min.css') }}" rel="stylesheet">
    <link href="{{ url(minify('css/narno.css')) }}" rel="stylesheet">
    <script src="{{ url('js/bootstrap-4.0.0-beta.3.min.js') }}"></script>
    {% include 'includes/googleanalytics.js.twig' %}
  </body>
</html>
